dateparser>=1.0.0
discord.py>=1.7.2
func-timeout>=4.3.5
gitpython>=3.1.17
gmpy2>=2.0.8
graphviz>=0.16
mathcrypto>=0.2.4
matplotlib>=3.4.2
psycopg2-binary>=2.8.6
requests>=2.25.1
scipy>=1.6.3
sqlalchemy>=1.4.17
xdot>=1.2
