name: Amadeus

on:
  push:
    branches: [ master ]
    paths:
    - "**/*.py"
    - "**/*.json"
    - "**/*.yml"
  pull_request:
    branches: [ master ]
    paths:
    - "**/*.py"
    - "**/*.json"
    - "**/*.yml"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names. Ignores errors linked to black and our codestyle preferences
        flake8 . --count --select=C,E,F,W,B --ignore=E128,E203,E501,W503,C901 --exclude=config/* --max-complexity=10 --max-line-length=110 --show-source --statistics
        
        # Check the code with black
        black . --check --line-length=110
