# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Amadeus

on:
  push:
    branches: [ master ]
    paths:
    - "**/*.py"
    - "**/*.json"
    - "**/*.yml"
  pull_request:
    branches: [ master ]
    paths:
    - "**/*.py"
    - "**/*.json"
    - "**/*.yml"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=C,E,F,W,B" --show-source --statistics
        
        # exit-zero treats all errors as warnings. Ignores errors linked to black and our codestyle preferences
        flake8 . --count --exit-zero --ignore=E128, E203, E501, W503 --max-complexity=10 --max-line-length=110 --statistics
        
        # Check the code with black
        black . --check --line-length=100
